

<div>
    {{#each photo}}
    <h1>{{this.title}}</h1>
    <img src="{{this.photo}}" alt="{{this.title}}">
    <p>Description: {{this.description}}</p>
    <div>
        <h4>Price</h4>
        <p>{{this.price}}</p>
    </div>
    <button class="#">Add to cart</button>
    {{/each}}
</div>

{{!-- aqui irian sugerencias de otras fotos del mismo theme --}}