<h1>{{title}}</h1>

<nav>
  <ul>
    {{#if isUserLoggedIn}}
      <li> <a href="/user">{{currentUserInfo.name}}</a> </li>
      <li> <a href="/cart">Cart</a> </li>
      <li> <a href="/themes">Themes</a> </li>
      <li> <a href="/logout"> Log Out </a> </li>
    {{else}}
      <li> <a href="/signup"> Sign Up </a> </li>
      <li> <a href="/login"> Log In </a> </li>
    {{/if}}
  </ul>
</nav>

<div>
    {{#each photo}}
    <h1>{{this.title}}</h1>
    <img src="" alt="{{this.title}}">
    <p>{{this.description}}</p>
    <div>
        <h4>Price</h4>
        <p>{{this.price}}</p>
    </div>
    {{/each}}
</div>

{{!-- aqui irian sugerencias de otras fotos del mismo theme --}}