{{!-- aqui va el titulo del theme y fotos de ese theme --}}

<h1>{{theme}}</h1>
{{#each photos}}
<h2>{{this.title}}</h2>
<a class="#" href="/onePhoto/{{_id}}">
    <img class="#"
        src="{{this.photoUrl}}"
        alt="{{this.title}}">
</a>
<p>Description: {{this.description}}</p>
<h4>Price: {{this.price}}</h4>
{{/each}}