<div class="grid">
    <section class="copy">
        <h1>{{photos.0.theme}}</h1>
    </section>
</div>


<section class="gallery_oneTheme_flex">
    
    {{#each photos}}
    <div class="gallery_oneTheme">
        <span class="flex-nombre">
    <h1>{{this.title}}</h1>

            <a href="/onePhoto/{{_id}}">
                <img class="image" src="{{this.image}}" alt="{{this.title}}">
            </a>
            </span>
    <div class="description">
        <p>Description: {{this.description}}</p>
        <h4 id="priceButton">Price: {{this.price}}€</h4>
        <form action="/add-to-cart/{{this._id}}" method="POST"><button class="addToCart" type="submit">Add to
                cart</button>
        </form>
    </div>

    </div>
    {{/each}}
</section>