<section>
  <a href="/oneTheme/" class='#'>
    <h2>Black and White</h2>
  </a>
  <br>
  {{#each Theme}}
  <div class="#">
    <a href="/onePhoto/:id">
      <img class="#" src={{photos.image}} alt="{{this.title}}">
    </a>
  </div>
  {{/each}}
<br>

  <a href="/oneTheme" class='#'>
    <h2>Urban</h2>
  </a>
  <br>
  <div class="to add" {{this.ID}}>
    <article class="c-card" data-pid="{{this.ID}}" data-name="{{this.name}}"></article>
    <a href="/onePhoto/:id">
      <img class="lozad tile-image" src="{{photos.image}}">
    </a>
  </div>
  <br>

  <a href="/oneTheme" class='#'>
    <h2>Landscape</h2>
  </a>
  <br>
  <div class="to add" {{this.ID}}>
    <article class="c-card" data-pid="{{this.ID}}" data-name="{{this.name}}"></article>
    <a href="/onePhoto/:id">
      <img class="lozad tile-image" src="{{photos.image}}">
    </a>
  </div>
  <br>

  <a href="/oneTheme" class='#'>
    <h2>Street Life</h2>
  </a>
  <br>
  <div class="to add" {{this.ID}}>
    <article class="c-card" data-pid="{{this.ID}}" data-name="{{this.name}}"></article>
    <a href="/onePhoto/:id">
      <img class="lozad tile-image" src="{{photos.image}}">
    </a>
  </div>
  <br>

  <a href="/oneTheme" class='#'>
    <h2>Macro</h2>
  </a>
  <br>
  <div class="to add" {{this.ID}}>
    <article class="c-card" data-pid="{{this.ID}}" data-name="{{this.name}}"></article>
    <a href="/onePhoto/:id">
      <img class="lozad tile-image" src="{{photos.image}}">
    </a>
  </div>
</section>