<section>
  <a href="/oneTheme"><h2>Black and White</h2></a>
  <div class="#" {{this.ID}}>
    <a href="/oneTheme">
      <img class="#" src="{{photos.image}}">
    </a>
  </div>
  <br>

  <h2>Urban</h2>
  <div class="#" {{this.ID}}>
    <a href="/oneTheme">
      <img class="#" src="{{photos.image}}">
    </a>
  </div>
  <br>

  <h2>Landscape</h2>
  <div class="#" {{this.ID}}>
    <a href="/oneTheme">
      <img class="#" src="{{photos.image}}">
    </a>
  </div>
  <br>

  <h2>Street Life</h2>
  <div class="#" {{this.ID}}>
    <a href="/oneTheme">
      <img class="#" src="{{photos.image}}">
    </a>
  </div>
  <br>

  <h2>Macro</h2>
  <div class="#" {{this.ID}}>
    <a href="/oneTheme">
      <img class="#" src="{{photos.image}}">
    </a>
  </div>
  <br>
</section>

{{!-- aqui va el titulo del primer theme y ejemplos de fotos de ese theme --}}


{{!-- aqui va el titulo del segundo theme y ejemplos de fotos de ese theme --}}


{{!-- aqui va el titulo del tercer theme y ejemplos de fotos de ese theme --}}