<section class="#">
  <a href="/oneTheme/" class='#'>
    <h2>Black and White</h2>
  </a>
  <br>
  <div class="photo-block">
    <a href="/onePhoto/{{_id}}">
      <img class="image" src="/images/fotos-Database/B&W/b&w_belgium2.jpg" alt="Cycling with the dog">
    </a>
    <a href="/onePhoto/{{_id}}">
      <img class="image" src="/images/fotos-Database/B&W/b&w_berlin2.jpg" alt="">
    </a>
    <a href="/onePhoto/{{_id}}">
      <img class="image" src="/images/fotos-Database/B&W/b&w_dublin1.jpg" alt="">
    </a>
  </div>
<br>

  <a href="/oneTheme" class='#'>
    <h2>Urban</h2>
  </a>
  <br>
  <div class="to add" {{this.ID}}>
    <article class="c-card" data-pid="{{this.ID}}" data-name="{{this.name}}"></article>
    <a href="/onePhoto/:id">
      <img class="lozad tile-image" src="{{photos.image}}">
    </a>
  </div>
  <br>

  <a href="/oneTheme" class='#'>
    <h2>Landscape</h2>
  </a>
  <br>
  <div class="to add" {{this.ID}}>
    <article class="c-card" data-pid="{{this.ID}}" data-name="{{this.name}}"></article>
    <a href="/onePhoto/:id">
      <img class="lozad tile-image" src="{{photos.image}}">
    </a>
  </div>
  <br>

  <a href="/oneTheme" class='#'>
    <h2>Street Life</h2>
  </a>
  <br>
  <div class="to add" {{this.ID}}>
    <article class="c-card" data-pid="{{this.ID}}" data-name="{{this.name}}"></article>
    <a href="/onePhoto/:id">
      <img class="lozad tile-image" src="{{photos.image}}">
    </a>
  </div>
  <br>

  <a href="/oneTheme" class='#'>
    <h2>Macro</h2>
  </a>
  <br>
  <div class="to add" {{this.ID}}>
    <article class="c-card" data-pid="{{this.ID}}" data-name="{{this.name}}"></article>
    <a href="/onePhoto/:id">
      <img class="lozad tile-image" src="{{photos.image}}">
    </a>
  </div>
</section>