<section>

  <a href="/oneTheme/blackandwhite" class='#'>
    <h2>Black and White</h2>
  </a>
  <br>
  {{#each photosblackandwhite}}
  <div class="photo-block">
    <a href="/onePhoto/{{this._id}}">
      <img class="image" src="{{this.image}}" alt="{{this.title}}">
    </a>
  </div>
  {{/each}}
  <br>

  <a href="/oneTheme/urban" class='#'>
    <h2>Urban</h2>
  </a>
  <br>
  {{#each photosUrban}}
  <div class="photo-block">
    <a href="/onePhoto/{{this._id}}">
      <img class="image" src="{{this.image}}" alt="{{this.title}}">
    </a>
  </div>
  {{/each}}
  <br>

  <a href="/oneTheme/landscape" class='#'>
    <h2>Landscape</h2>
  </a>
  <br>
  {{#each photosLandscape}}
  <div class="photo-block">
    <a href="/onePhoto/{{this._id}}">
      <img class="image" src="{{this.image}}" alt="{{this.title}}">
    </a>
  </div>
  {{/each}}
  <br>

  <a href="/oneTheme/street-life" class='#'>
    <h2>Street Life</h2>
  </a>
  <br>
  {{#each photosStreetLife}}
  <div class="photo-block">
    <a href="/onePhoto/{{this._id}}">
      <img class="image" src="{{this.image}}" alt="{{this.title}}">
    </a>
  </div>
  {{/each}}
  <br>

  <a href="/oneTheme/macro" class='#'>
    <h2>Macro</h2>
  </a>
  <br>
  {{#each photosMacro}}
  <div class="photo-block">
    <a href="/onePhoto/{{this._id}}">
      <img class="image" src="{{this.image}}" alt="{{this.title}}">
    </a>
  </div>
  {{/each}}
  <br>
</section>