<section>
  <h2>Black and White</h2>
  <br>
  <div class="to add" {{this.ID}}>
    <article class="c-card" data-pid="{{this.ID}}" data-name="{{this.name}}" </article>
      <a href="/oneTheme">
        <img class="lozad tile-image" src="{{photos.image}}" </a>
        <br>

        <h2>Urban</h2>
        <div class="to add" {{this.ID}}>
          <article class="c-card" data-pid="{{this.ID}}" data-name="{{this.name}}" </article>
            <a href="/oneTheme">
              <img class="lozad tile-image" src="{{photos.image}}" </a>
        </div>
        <br>

        <h2>Landscape</h2>
        <br>
        <div class="to add" {{this.ID}}>
          <article class="c-card" data-pid="{{this.ID}}" data-name="{{this.name}}" </article>
            <a href="/oneTheme">
              <img class="lozad tile-image" src="{{photos.image}}" </a>
        </div>
        <br>

        <h2>Street Life</h2>
        <br>
        <div class="to add" {{this.ID}}>
          <article class="c-card" data-pid="{{this.ID}}" data-name="{{this.name}}" </article>
            <a href="/oneTheme">
              <img class="lozad tile-image" src="{{photos.image}}" </a>
        </div>
        <br>

        <h2>Macro</h2>
        <br>
        <div class="to add" {{this.ID}}>
          <article class="c-card" data-pid="{{this.ID}}" data-name="{{this.name}}" </article>
            <a href="/oneTheme">
              <img class="lozad tile-image" src="{{photos.image}}" </a>
        </div>
</section>

{{!-- aqui va el titulo del primer theme y ejemplos de fotos de ese theme --}}
<h2>Black and White</h2>
<br>
<div class="to add" {{this.ID}}>
  <article class="c-card" data-pid="{{this.ID}}" data-name="{{this.name}}" </article>
    <figure class="product-image">
      <a href=".html">
        <img class="lozad tile-image" src="{{photos.image}}" </a>
    </figure>
</div>
<br>

{{!-- aqui va el titulo del segundo theme y ejemplos de fotos de ese theme --}}
<h2>Urban</h2>
<div class="to add" {{this.ID}}>
  <article class="c-card" data-pid="{{this.ID}}" data-name="{{this.name}}" </article>
    <figure class="product-image">
      <a href="/oneTheme">
        <img class="lozad tile-image" src="{{photos.image}}" </a>
    </figure>
</div>
<br>

{{!-- aqui va el titulo del tercer theme y ejemplos de fotos de ese theme --}}
<h2>Landscape</h2>
<br>
<div class="to add" {{this.ID}}>
  <article class="c-card" data-pid="{{this.ID}}" data-name="{{this.name}}" </article>
    <figure class="product-image">
      <a href=".html">
        <img class="lozad tile-image" src="{{photos.image}}" </a>
    </figure>
</div>
<br>

{{!--4ยบ theme --}}
<h2>Street Life</h2>
<br>
<div class="to add" {{this.ID}}>
  <article class="c-card" data-pid="{{this.ID}}" data-name="{{this.name}}" </article>
    <figure class="product-image">
      <a href=".html">
        <img class="lozad tile-image" src="{{photos.image}}" </a>
    </figure>
</div>
<br>

{{!--5ยบ theme --}}
<h2>Macro</h2>
<br>
<div class="to add" {{this.ID}}>
  <article class="c-card" data-pid="{{this.ID}}" data-name="{{this.name}}" </article>
    <figure class="product-image">
      <a href=".html">
        <img class="lozad tile-image" src="{{photos.image}}" </a>
    </figure>
</div>
